.SVGHands {
    --zaura-height: 443px;

    font-size: 0;
    position: relative;
    margin: 0 auto;
    transform-style: preserve-3d;
    text-align: center;
    padding-top: 48px;
    background-color: #fff;
    
    &__img {
        max-width: 333px;
        position: relative;
    }
}