@import "../../assets/styles/vars";

.figure {
    transform-style: preserve-3d;
    margin: 0 auto;
    display: flex;
    flex-basis: 50%;
    // height: 50vh;
    // background-color: aqua;

    &__textplace {
        background-color: var(--color-purpule);
        padding: 48px 24px;
        clip-path: ellipse(354px 215px at 43.63% 29.43%);
    }

    &__text {
        font-size: 22px;
    }

    &__img {
        position: absolute;
        width: 340px;
        height: 340px;
        left: 50%;
        object-fit: contain;
        transform: translateZ(-0.6px) scale(0.6);
        top: 20px;

        @media screen and (max-width: $min-width-card) {
            left: 54%;
            top: 126%;
        }
    }

}