@import "../../assets/styles/vars";

.hello {
    --zaura-height: 443px;

    height: 100vh;
    font-size: 0;
    position: relative;
    transform-style: preserve-3d;
    max-width: 1000px;
    margin: 0 auto;

    &__speach {
        font-size: 48px;
        max-width: 340px;
        font-weight: normal;
        text-align: center;
        margin: 0 0 0 auto;
        padding: 8vw 8vw 0 0;
        color: white;

        @media screen and (max-width: $tablet-width) {
            font-size: 40px;
            padding-top: 20%;
        }

        @media screen and (max-width: $mobile-width) {
            margin: 0 auto;
            font-size: 38px;
            padding: 32% 0 0;
        }

        @media screen and (max-width: $min-width) {
            font-size: 32px;
            padding-top: 60%;
        }


        @media screen and (max-height: 800px) {
            font-size: 40px;
            padding-top: 20%;
        }
    }

    &__zaura {
        position: absolute;
        left: 50%;
        bottom: -25px;
        transform-style: preserve-3d;
        transform: translate(-50%, 100%);
        transition: transform .5s ease .5s;

        &__img {
            max-width: 333px;
            transform: translateZ(-0.1px);

            @media screen and (max-width: $mobile-width) {
                max-width: 250px;
            }

        }

        &:hover {

            & .hello__phone__gif--cover {
                opacity: 0;
            }

            & .hello__phone__gif--anim {
                opacity: 1;
            }
        }
    }

    &__plant {
        max-width: 250px;
        position: absolute;
        left: 100%;
        bottom: 30%;
        transform: translateZ(-0.3px);
        object-fit: contain;

        @media screen and (max-width: $mobile-width) {
            left: 80%;
            max-width: 200px;
        }
    }

    &__phone {
        position: absolute;
        left: 0%;
        bottom: 70px;
        transform: translateZ(-0.3px) translateX(-130px) scale(1.2);
        width: 70.5px;
        height: 128px;
        overflow: hidden;


        @media screen and (max-width: $mobile-width) {
            left: 20%;
        }

        &__img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            z-index: 10;
        }

        &__gif {
            width: calc(100% - 2px);
            height: calc(100% - 26px);
            top: 14px;
            left: 1px;
            position: absolute;
            font-size: 13px;

            &--cover {
                background-color: #fff;
                z-index: 1;
                box-sizing: border-box;
                // padding: 16px 8px;
                opacity: 1;
                object-fit: contain;
            }

            &--anim {
                object-fit: cover;
                z-index: -1;
                opacity: 0;
            }
        }
    }

    &__lump {
        position: absolute;
        left: 40%;
        top: 10%;
        transform: translateZ(0.3px) translateX(-160px) scale(1);
        object-fit: contain;

        &:nth-of-type(2) {
            opacity: 0;
        }

        &:hover:nth-of-type(2) {
            opacity: 1;
        }

        @media screen and (max-width: $mobile-width) {
            left: 50%;
            max-width: 100px;
        }
    }

    &.is-open {

        & .hello__zaura {
            transform: translate(-50%, 0);
        }
    }

    @media screen and (min-width: 899px) {}

}