.hello {
    --zaura-height: 443px;
    
    height: 100vh;
    font-size: 0;
    position: relative;
    transform-style: preserve-3d;
    max-width: 1000px;
    margin: 0 auto;
    
    &__zaura {
        position: absolute;
        left: 50%;
        bottom: -25px;
        transform-style: preserve-3d;
        transform: translate(-50%, 100%);
        transition: transform .5s ease .5s;

        &__img {
            max-width: 333px;
            transform: translateZ(-0.1px);
        }
    }

    &__prayerhands {
        max-width: 110px;
        position: absolute;
        left: 50%;
        bottom: calc(var(--zaura-height) + 20px);
        transform: translateZ(-0.8px) translateX(230px) scale(1.6);
        object-fit: contain;
    }

    &__plant {
        max-width: 250px;
        position: absolute;
        left: 30%;
        bottom: -10%;
        transform: translateZ(-0.3px) translateX(330px);
        object-fit: contain;
    }
    
    &__declaration {
        max-width: 150px;
        position: absolute;
        left: 50%;
        bottom: 100px;
        transform: translateZ(-0.3px) translateX(330px) scale(1.2);
        object-fit: contain;
    }

    &__lump {
        position: absolute;
        left: 40%;
        top: 20%;
        transform: translateZ(0.3px) translateX(-160px) scale(1);
        object-fit: contain;

        &:first-child {
            opacity: 1;
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:hover:first-child {
            opacity: 0;
        }

        &:hover:nth-child(2) {
            opacity: 1;
        }
    }
    
    &.is-open {
        
        & .hello__zaura {
            transform: translate(-50%, 0);
        }
    }
    
    @media screen and (min-width: 899px) {
    }

}