.StoryTwo {
    --zaura-height: 443px;

    height: 80vh;
    font-size: 0;
    position: relative;
    transform-style: preserve-3d;
    max-width: 1000px;
    min-height: 700px;
    margin: 0 auto;

    &__zaura {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%);
        transition: transform .5s ease .5s;

        &__img {
            max-width: 333px;
        }
    }

    &__oil {
        width: 90px;
        position: absolute;
        left: 14%;
        bottom: 10%;
        transform: translateZ(-0.5px);
    }


    &.is-open {
        
        & .StoryTwo__zaura {
            transform: translate(-50%, 0);
        }
    }
}