.air {
    padding: 48px 0;
    text-align: center;
    color: white;
    font-size: 25px;
    position: relative;

    &__overlay {
        background-color: #7b2e8f;
    }

    &__text {
        padding: 2px 8px;
        background-color: #58386cc4;
        line-height: 1.7;
        letter-spacing: 0.8px;
        border-bottom: 10px solid white;
        font-size: larger;
    }
    
}