.video-place {
    position: relative;
    margin: 0 auto;

    & video {
        display: none;
    }
}

.video-voice {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    background-position: center;
    background-image: url("/assets/img/icons/audio_disabled.png");

    &.voice-disabled {
        background-image: url("/assets/img/icons/audio_enabled.png");
    }
}