.video-place {
    position: relative;
    text-align: center;
    padding: 20px;
}

.video-place video{
    /* max-height: 100vh; */
}

.video-voice {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    background-position: center;
    background-image: url("./img/icons/audio_disabled.png");
}

.video-voice.voice-disabled {
    background-image: url("./img/icons/audio_enabled.png");
}

.background-canvas {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;    
}

.content {
    padding: 0 10px;
}
.page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1920px;
    margin: 0 auto;
}
.nav {
    color: white;
    flex-basis: calc(100% / 4);
    width: calc(100% / 4);
    max-width: 300px;
}
.nav--left {
    order: -1;
}

.nav--right {
    order: 1;
}

.nav {
    display: none;
}

.nav-left {
}

.nav-right {
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 100%;
    width: 100%;
    transition: background-color 0.5s linear;
}

.screen {
    margin: 0 auto;
    height: 100vh;
}

.jalousie {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% / 5);
    height: 100vh;
    overflow: hidden;
    transition: width 0.5s ease;
}

.main:hover .jalousie {
    /* width: 4%; */
}

.main:hover .jalousie:hover {
    width: 100%;
}

.page__overlay {
    background-color: var(--second-color);
    width: 100%;
}

.jalousie__overlay {
    width: 100%;
    height: 100vh;
    background-color: var(--second-color);
    /* background: radial-gradient(
        at 60% bottom,
        var(--base-color),
        var(--second-color)
    ); */
    transition: background-color 0.5s ease;
}

.jalousie__overlay:hover {
    background-color: transparent;
}

.jalousie__overlay:hover {
    opacity: 1;
    text-shadow: 2px 2px 5px #000000a8;
}

.jalousie__title {
    margin: 0;
    color: white;
    padding: 40px 0;
    opacity: 0;
}

.jalousie__desc {
    color: white;
    opacity: 0;
}

.jalousie__overlay:hover .jalousie__desc {
    opacity: 1;
    transition: opacity 0.2s ease 0.5s, text-shadow 0.5s ease;
}

.jalousie__overlay:hover .jalousie__title {
    opacity: 1;
    transition: opacity 0.2s ease 0.5s, text-shadow 0.5s ease;
}

/* .menu */
.menu-link {
    display: inline-block;
    color: white;
    position: relative;
    line-height: 2;
    cursor: pointer;
    text-decoration: none;
}
.menu-link::after {
    content: "";
    width: 50%;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translate(-50%, 0);
    transition: all 0.5s ease;
    background-color: white;
}
.menu-link:hover::after {
    left: 0;
    transform: translate(0, 0);
    width: 100%;
}

/* // .menu */
.rainbow {
    transition: background-color 0.5s linear;
}

@media screen and (min-width: 1024px) {
    .nav {
        display: block;
    }
}

@media screen and (max-width: 680px) {
    body {
        overflow: auto;
    }

    .content {
        padding: 0 40px;
    }

    .main {
        display: block;
        padding: 0;
    }

    .jalousie {
        width: 100%;
        height: 100%;
    }

    .jalousie__overlay {
        padding: 20px 0;
        height: 100%;
    }
}
