:root {
    --base-color: #e7d7da;
    --second-color: #f5f5dc90;

    --oliv-color: #616101;
    --milk-color: #f5f5dc;
    --georgian-mist: #e7d7da;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* overflow-x: hidden; */
}

h1 {
    font-size: large;
}

.NotFound {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: column;
    height: 100vh;

    &Link {
        
        &s{
            display: flex;
            justify-content: flex-start;
            gap: 12px;
        }
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
