@import "vars";

@import "./nav.scss";
@import "./menu.scss";
@import "./button.scss";
@import "./fonts.scss";
@import "./photoset.scss";
@import "./bubble.scss";
@import "./card.scss";
@import "./contacts.scss";
@import "./massage.scss";

:root {
    --color-black: #333;
    --color-purpule: #AC6785;
    --color-purpule-light: #f5ceff;
    --color-purpule-dark: #B94D7C;
    --color-pale: #f5f5f5;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 0;

    &.about-page,
    &.massage-page {}

    &.about-page {
        & .main {
            background: repeating-linear-gradient(to top, #e9c8b7, #e9c8b7 80px, #ef8e7b 80px, #ef8e7b 140px);


            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: repeating-linear-gradient(to left, #e9c8b7, #e9c8b7 80px, #ef8e7b 80px, #ef8e7b 140px);
                z-index: -1;

                @media screen and (min-width: $mobile-width) {
                    animation-name: bgLeftRight;
                    animation-timing-function: cubic-bezier(0.315, 0.025, 0.755, 1.000);
                    animation-duration: 9s;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;
                }

            }

        }

        & .main-body {
            transform-style: preserve-3d;
        }
    }

    & .main-body {}


    & .page {}
}

.large-text {
    color: white;
    padding: 2px 8px;
    line-height: 1.7;
    letter-spacing: 0.8px;
}

.main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.screen {
    margin: 0 auto;
    // min-height: 600px;
}

.intro {
    position: relative;
    text-align: center;
    padding: 20px;
    max-width: 203px;
    margin: 0 auto;
    align-self: center;
}

.page__overlay {
    /* background-color: var(--second-color); */
    width: 100%;
}

.background-canvas {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    transform-style: preserve-3d;
}

.content {
    max-width: 900px;
    padding: 0 10px;
    margin: 0 auto;
    transform-style: preserve-3d;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1920px;
    margin: 0 auto;
}


@media screen and (min-width: 899px) {}

@media screen and (max-width: 680px) {
    body {
        overflow: auto;
    }

    .content {
        padding: 0 10px;
    }
}


/* Jelly Blob Div */
.jelly-blob {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    background-color: lightcoral;
    border-radius: 50%;
    transform-origin: center center;
    will-change: width, height, transform, border;
    z-index: 999;
    pointer-events: none;
}

.videohands {
    width: 100%;
    position: relative;

    video {
        visibility: hidden;
    }
}

.videohands_one {
    text-align: right;
}

.videohands_2 {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;

    @media screen and (max-width: $mobile-width) {
        position: static;
    }

    & canvas {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: scale(-1, 1);


        @media screen and (max-width: $mobile-width) {
            position: static;
        }
        
    }
}

.Monstera_svg {
    position: absolute;
    left: -10%;
    bottom: 10%;
    width: 30%;
    max-width: 440px;
    opacity: .86;
    transform: translateZ(-0.3px);

    @media screen and (max-width: $min-width-card) {
        left: -17%;
        bottom: 40%;
        width: 40%;
    }
}

.Oil_svg {
    position: absolute;
    right: 20%;
    bottom: 20%;
    max-width: 100px;
    opacity: .86;
    transform: translateZ(-0.4px);
    @media screen and (max-width: $min-width-card) {
        bottom: -47%;
    }
}


.Oil2_svg {
    position: absolute;
    right: 10%;
    bottom: 10%;
    max-width: 100px;
    opacity: .86;
    transform: translateZ(-0.5px);
    @media screen and (max-width: $min-width-card) {
        right: -10%;
    }
}


@keyframes bgLeftRight {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 500px 0;
    }
}